 body{
	margin: 0;
	padding: 0;
}
.container{
	text-align: center;
	display: block;
	height: 100px;
	width: 400px;
	overflow: scroll;
	font-size: 20px;
	margin: 100px auto 0 auto;
}
.checkbox{
	display: inline-block;
	height: auto;
	padding: 10px 50px;
	width: 60%;
}
.label{
	float: left;
	text-transform: uppercase;
}
input[type="checkbox"]{
	float: right;
}
.childbox{
	display: inline-block;
	display: none;
}
