.form{
	width: 500px;
	margin: 0 auto;
	border: 2px solid black;
	background-color: #D6D6D6;
}

.top-box{
	text-align: center;
	background-color: red;
}
.middle-box{
	padding: 10px;
}
.bottom-box{
	text-align: center;
	padding: 10px;
}
.input-box{
	width: 70%;
	display: inline-block;
	margin: 5px 0;
}
.input-box input{
	float: right;
	width: 60%;
}
.input-box input[type="checkbox"]{
	width: initial;
	float: left;
}
.input-box select{
	float: right;
	text-indent: 81px;
	width: 61%;
}
.input-box option{
	text-indent: 55px
}
.input-box textarea{
	float: right;
	width: 60%;
}
.input-box label{
	width: 40%;
}
