.body{
	margin: 0;
	padding: 0;
}
.container{
	text-align: center;
	width: 400px;
	margin: 100px auto;
}
.listbox{
	height: 200px;
	overflow: scroll;
	display: inline-block;;
	width: 32%;
}
.list-item.selected{
	background-color: #A3A3A3;
}
.middle-listbox{
	overflow:auto;
}
